.search{
   position: absolute;
   z-index: 1;
   left: 196px;
}

.search__container{
   width: 1115px;
   margin: 0 auto;
   margin-top: -202px;
   padding: 40px 86px;
   text-align: center;
   background-color: #191919;
   box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
}

.search__container p{
   margin: 0;
   margin-bottom: 13px;
   font-weight: 400;
   font-size: 31px;
   line-height: 34px;
   color: #C9AC8C;
}

.search__form input{
   width: 710px;
   margin-right: 14px;
   padding: 17px 28px 14px 28px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: rgba(255, 255, 255, 0.3);
   background-color: #404040;
   border: none;
   border-radius: 15px;
}

.search__form button{
   padding: 13px 48px 13px 39px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #3C2710;
   background-color: #C9AC8C;
   border-radius: 15px;
}

.search__form button::before{
   content: "";
   width: 24px;
   height: 24px;
   display: inline-block;
   margin-right: 7px;
   background-image: url("../../assets/images/search.svg");
   background-size: contain;
   vertical-align: middle;
}