header{
   padding-top: 22px;
   background-color: #191919;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__container{
   display: flex;
   align-items: center;
}

.header__logo{
   margin-right: auto;
   padding-bottom: 22px;
   text-decoration: none;
   color: #C9AC8C;
}

.header__logo:hover{
   color: #C9AC8C;
}

.header__list{
   display: flex;
   align-items: center;
   margin: 0;
   margin-right: 40px;
   padding: 0;
   list-style: none;
}

.header__item{
   margin-right: 44px;
}

.header__item a{
   display: inline-block;
   padding-bottom: 22px;
   font-weight: 300;
   font-size: 16px;
   line-height: 144.4%;
   text-decoration: none;
   color: #FFFFFF;
}

.header__item a:hover{
   color: #fff;
}

.active-link{
   padding-bottom: 22px;
   font-weight: 300;
   font-size: 16px;
   line-height: 144.4%;
   text-decoration: none;
   color: #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
}

.header__btn{
   position: relative;
   z-index: 1;
   margin-bottom: 22px;
   background-color: transparent;
   border: none;
}

.header_list{
   display: none;
}

.active-list{
   position: absolute;
   top: 50px;
   right: 0px;
   margin: 0;
   padding: 0;
   padding: 5px;
   list-style: none;
   background-color: #fff;
}

.active-list li {
   margin-bottom: 15px;
}

.active-list a{
   display: inline-block;
   padding: 5px;
   color: #191919;
   text-decoration: none;
}

.header_img{
   width: 50px;
   height: 50px;
   margin-top: -20px;
   vertical-align: middle;
   border-radius: 50%;
}