.book_title{
   margin: 0;
   margin-bottom: 70px;
   font-weight: 400;
   font-size: 48px;
   line-height: 53px;
   color: #C9AC8C;
}

.book_page{
   margin: 0;
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.6);
}

.book_date{
   margin: 0;
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.6);
}

.book_genre{
   margin: 0;
   margin-bottom: 20px;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.6);
}

.book_nash{
   margin: 0;
   margin-bottom: 48px;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.6);
}

.book_info{
   display: inline-block;
   margin-bottom: 48px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #C9AC8C;
}

.book_info::after{
   display: inline-block;
   width: 12px;
   height: 18px;
   margin-left: 11px;
   background-image: url("../../assets/images/Subtract.svg");
   background-size: cover;
   vertical-align: middle;
   content: "";
}

.book_info-wrapper{
   position: relative;
}

.book_info-wrapper::after{
   position: absolute;
   top: 10px;
   right: 10px;
   width: 480px;
   height: 2px;
   color: rgba(201, 172, 140, 0.6);
   background-color: rgba(201, 172, 140, 0.6);
   content: "";
}

.book_desc{
   margin: 0;
   margin-bottom: 47px;
   font-weight: 400;
   font-size: 16px;
   line-height: 144.4%;
   color: rgba(255, 255, 255, 0.8);
}

.book_format{
   display: block;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #C9AC8C;
}

.book_btn{
   padding: 16px 32px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #3C2710;
   background-color: #C9AC8C;
}

.book_list{
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

.book_item{
   margin-right: 30px;
   text-align: center;
}

.book_item p{
   margin-top: 10px;
   margin-bottom: 8px;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #FFFFFF;
}

.book_item span{
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: rgba(255, 255, 255, 0.6);
}